<meta charset="UTF-8">
<title>express範例</title>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.ui.widget.js"></script>
<script src="assets/js/jquery.fileupload.js"></script>
<link rel="stylesheet" href="assets/css/style.css">